.container {
  display: none;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--size-5); /* space-x-6 */
  }

  .hiddenWhenOpen {
    display: none;
  }
}

.cta {
  
 min-width: 0;
  color: var(--neutral-color-2);
  background-color: var(--main-color-4); /* yellow-700 */
  padding: var(--size-3) var(--size-4);

  font-weight: 600;
  border-radius: var(--radius-1);
  transition: all 200ms ease;
}

.cta:hover {
  background-color: #ef4444; /* red-500 */
}