

.firstSection {
  background-color: var(--section-important-bg);  /* bg-black */
  color: var(--text-classic-color);
  width: 100%;             /* w-100 */
  padding-top: 3rem;       /* py-12 */
  padding-bottom: 3rem;
}

.imgMain1{
    max-width: 576px;
    width: 100%;
    height: auto;
}


.containerWrapper {
  max-width: 1400px; /* typical Tailwind container */
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-left: var(--size-8);  
  padding-right: var(--size-8); 
}

@media (max-width: 420px) {
.containerWrapper {
  padding-left: var(--size-6);  
  padding-right: var(--size-6); 
}
}

.container {
  display: flex;
  flex-direction: column; /* flex-col */
    justify-content: space-between;
    align-items: center;
    gap: var(--size-7);
  width: 100%;            /* w-100 */
}

/* md:flex-row */
@media (min-width: 1088px) {
  .container {
    flex-direction: row;
  }
}


.boxerRow {
  display: flex;
  flex-direction: row;
  gap: 1rem; /* equivalent to space-x-4 in Tailwind (4 * 0.25rem = 1rem) */
}

.glovesIcon {
  width: var(--size-7);
  height: var(--size-7);
  color: var(--main-color-5);
}

.boxerNameDiv{
  display: flex;
  flex-direction: column;
  align-items: start;
}

 @media (max-width: 640px) {
.boxerNameDiv p{
  text-align: start;
}
 }

 @media (max-width: 480px) {

  .boxerNameDiv p{
  font-size: var(--fs-3);
}

  .boxerRow {
    gap: var(--size-4);

  }

  .glovesIcon {
  width: var(--size-6);
  height: var(--size-6);
}
  
 }


  @media (max-width: 420px) {

  .boxerNameDiv p{
  font-size: var(--fs-3);
}

 .boxerRow {
    gap: var(--size-3);

  }

 

  }

