


.hero {
  color: white;
background-image: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0.85),
  rgba(30, 20, 18, 0.75),
  rgba(70, 45, 40, 0.55),
  rgba(110, 70, 60, 0.45),
  rgba(150, 90, 75, 0.5)
),
    url("/Images/background4.png");
  background-repeat: no-repeat;
  background-size: cover;
}


/* Outer wrapper */
.outerWrapper {
     margin-top: calc(-1 * (var(--topbar-height) + var(--navbar-height)));
     padding-top: calc((var(--topbar-height) + var(--navbar-height)));
  padding-bottom: 2.5rem; /* pb-10 */
  display: flex;
  text-align: center;       /* text-center */
  justify-content: center;  /* justify-center */
}

/* Responsive overrides */
@media (min-width: 768px) { /* md: */
  .outerWrapper {
    justify-content: flex-end; /* md:justify-end */
  }
}

@media (min-width: 1024px) { /* lg: */
  .outerWrapper {
    text-align: left; /* lg:text-left */
  }
}

/* Inner wrapper */
.innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;    /* items-start */
  justify-content: flex-start;/* justify-start */
  width: 100%;
  margin-left: 2.5rem;       /* mx-10 */
  margin-right: 2.5rem;      /* mx-10 */
  margin-top: 5rem;           /* mt-20 */
  gap: 4rem;                  /* space-y-16 */
  object-fit: scale-down;     /* object-scale-down */
}

/* Responsive adjustments */
@media (min-width: 1024px) { /* lg: */
  .innerWrapper {
    width: 40%;       /* lg:w-2/5 */
    gap: 2.5rem;     /* lg:space-y-10 */
  }
}

@media (min-width: 768px) { /* md: */
  .innerWrapper {
    margin-top: 10rem; /* md:mt-40 */
  }
}