


.hero {
background-image: linear-gradient(
  to bottom,
  
  var(--neutral-color-1-grad),
  var(--neutral-color-2-grad),
  var(--neutral-color-3-grad),
  var(--neutral-color-4-grad),
  var(--neutral-color-5-grad)
),
    url("/Images/background4.png");
  background-repeat: no-repeat;
  background-size: cover;


    position: relative;
  min-height: 100vh;
    margin-top: calc(-1 * (var(--topbar-height) + var(--navbar-height)));
    padding: 0;
     padding-top: calc((var(--topbar-height) + var(--navbar-height)  + var(--section-padding-vertical)));

     display: flex;
     justify-content: center;
  z-index: 2;
}


/* Outer wrapper */
.outerWrapper {
   
 
  display: flex;
  text-align: left;       /* text-center */
  justify-content: flex-end;  /* justify-center */
}






/* Inner wrapper */
.innerWrapper {

 
  display: flex;
  flex-direction: column;
  align-items: flex-start;    
  justify-content: flex-start;
  width: 40%; 
  margin: var(--size-8);     
  margin-top: var(--size-16);  
  gap: var(--size-8);        
                 
  object-fit: scale-down;     
}

  .heroPharagraph{
    text-align: start;

    padding: 0 var(--size-1);
  }

  @media (max-width: 1440px) {

     .innerWrapper {
        margin-top: var(--size-15);   
     }
    
  }

    @media (max-width: 1280px) {

     .innerWrapper {
        margin-top: var(--size-12);   
     }
    
  }



@media (max-width: 1024px) { /* lg: */

  

  .outerWrapper {
    
    text-align: center; /* lg:text-left */
    
  }


   .innerWrapper {
    max-width: var(--size-24);
    width: 100%;       
    gap: var(--size-8);
    margin-top: var(--size-11);      
  }
}


@media (max-width: 768px) {


  .hero{
    align-items: center;
  }

  .outerWrapper {
     padding-bottom: var(--size-7); 
  }

  .innerWrapper {
    max-width: var(--size-24);
    justify-content: center;
    gap: var(--size-6);

      
  
     
    
  }



}

@media (max-width: 480px) {

  .hero{
    min-height: 0;
  }

    .outerWrapper {
     padding-bottom: 0; 
  }

  .innerWrapper{
     margin: var(--size-10) var(--size-5);   
  }


}





.heroHeading{
  line-height: 1;         /* Tailwind default for large text */
  text-transform: uppercase; /* uppercase */
  font-weight: 800;       /* font-black */
  
}

@media (max-width: 1280px) {
  .heroHeading{
    text-align: start;
    text-wrap: balance;
  }

  .heroPharagraph{
    text-align: start;

    padding: 0 var(--size-1);
  }
  
}



.kontaktButton {
  color:var(--hero-cta-color);
  background-color: var(--hero-cta-bg);
  text-transform: uppercase;
  font-weight: 600; /* font-semibold */
  padding: var(--size-5) var(--size-8); /* py-4 px-20 → 16px top/bottom, 80px left/right */
 transition: background-color 0.2s, color 0.2s;
  display: block; /* to make mx-auto work */
  margin-left: var(--size-1);
}

.kontaktButton:hover {
  background-color: var(--hero-cta-bg-hover); /* hover:bg-red-500 */
  color: var(--hero-cta-color-hover);
}


@media (max-width: 1024px) { /* lg: breakpoint */
  .kontaktButton {
    margin-left: auto;
    margin-right: auto;
    padding: var(--size-5) var(--size-8); /* py-4 px-20 → 16px top/bottom, 80px left/right */
    
  }
}

