

.paginationWrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.dot {
  width: 8px;
  height: 8px;
  background: var(--neutral-color-11);
  opacity: 0.4;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* active */
.dot.active {
  width: 22px;
  border-radius: 6px;
  background: var(--main-color-4);
  opacity: 1;
}