

.paginationWrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.dot {
  width: 8px;
  height: 8px;
  background: var(--neutral-color-7);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* active */
.dot.active {
  width: var(--size-6);
  border-radius: 4px;
  background: var(--main-color-3);
}