

.paginationWrapper {
  margin-top: var(--size-7);
  display: flex;
  justify-content: center;
  gap:var(--size-3);
}

.dot {
  width: 8px;
  height: 8px;
  background: var(--neutral-color-7);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
}

/* active */
.dot.active {
  width: var(--size-6);
  border-radius: 4px;
  background: var(--main-color-3);
}