.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;

   width: 100%;
  height: 100vh;

  background-color: var(--neutral-color-1);
 
 
  display: flex;
  flex-direction: column; /* stack children vertically */

  padding-top: var(--topbar-height);

  font-weight: 600; /* font-semibold */
  font-size: 2rem;  /* text-2xl */
   transition: all 0.5s;
  z-index: 1000;
}



.mobileMenuTop{
  height: var(--navbar-height);
  padding-left: var(--size-7);
  padding-right: var(--size-7);
  padding-top: 1rem;  /* py-6 */
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

}

@media (max-width: 480px) {
.mobileMenuTop{
   padding-left: var(--size-5);
  padding-right: var(--size-5);
}
  
}


.closeButton {
  width: 24px;
  height: 20px;
  cursor: pointer;
}





.mobileMenuMain {

  
  background-color: var(--neutral-color-2);

  flex: 1;

   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-4);


  text-transform: uppercase;

}

.mobileMenu a {
  color: var(--mobile-menu-link-color);
  transition: color 0.2s;
}

.mobileMenu a:hover {
  color: var(--mobile-menu-link-color-hover);  /* Tailwind red-500 */
}

.activeLink{
  color: var(--mobile-menu-link-color-active) !important;
}

.mobileMenuClose {
  width: 24px;
  height: 20px;
  position: relative;
  z-index: 9999;
}