.footer {
   width: 100%;
  background-color: var(--footer-bg);
  color: var(--footer-text-classic-color);
  padding: 60px 20px 20px;
  border-top: 1px solid var(--footer-border-top-color);
}

.footer a {
  text-decoration: none;
  transition: 0.3s;
  color: var(--footer-link-color);

  font-size: var(--p-footer-fs);
}


.footer a:hover {
 color: var(--main-color-4);
}

.activeLink{
  color: var(--main-color-5) !important;
  
}

/* TEXT */
.footer p {
  font-size: var(--p-footer-fs);
}

/* GRID LAYOUT */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

/* COLUMN */
.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.col h4 {
  
  margin-bottom: 12px;
  color: var(--footer-title-color);
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoText {
  margin-bottom: 0 !important;
}




/* BOTTOM BAR */
.bottom {
  border-top: 1px solid var(--neutral-color-9);
  margin-top: var(--size-7);
  padding-top: var(--size-5);
  text-align: center;
}

.bottom p {
  color: var(--text-classic-color-3);
  font-size: var(--fs-1);
}



/* MOBILE */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media (max-width: 480px) {





  .container {
    grid-template-columns: 1fr;
   
  }

  .col {
   
  }

  .bottom {
 
}

.bottom p{
  font-size: var(--fs-2);
}


}