

.starsWrapper{
  display: flex;
  contain: content;
  gap: 4px;
}

.customerStars{
  
  box-sizing: border-box;

  margin-bottom: var(--size-2);

  padding: 0 var(--size-4);
  padding-top: var(--size-5);
}

.star{
margin-bottom: var(--size-2);
}


.customerStar{
  height: 20px;
  width: 20px;
  margin-bottom: var(--size-2);
}

.paymentSpinner{

  
  height: var(--size-6);
  width: var(--size-6);

  transform-origin:center;
  animation: rotateSpinnerAnimation 0.6s infinite linear;
  

}

.spinner2{
  height: var(--size-9);
  width: var(--size-9);

  transform-origin:center;
  animation: rotateSpinnerAnimation 0.6s infinite linear;
}

 .error{
    color: var(--error-color);
    margin-top: var(--size-3);
	margin-bottom: var(--size-3);
    font-size: var(--font-size-2);
  }

  @media (max-width: 600px) {

    .spinner2{
      height: var(--size-8);
      width: var(--size-8);
    

      
    }
    
  }


  @media (max-width: 420px){

    .spinner2{
      height: 40px;
      width: 40px;
    

      
    }

    .customerStar{
      height: 16px;
      width: 16px;
    }

  }


  @keyframes rotateSpinnerAnimation{

   
    

    100%  {
      transform:rotate(360deg)
    }
    
    }
