.section {

  
  position: relative;

 background: linear-gradient(
    135deg,
    var(--neutral-color-1) 0%,   /* #34332C - dark base */
    var(--neutral-color-2) 100% /* #A9A59D - soft highlight */
  );
  
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}



.header {
text-align: center;
max-width: 700px;
margin: 0 auto var(--size-10);
}



@media (max-width: 480px) {
  .header {
    margin: 0 auto var(--size-8);
  }
}

.header h2 {
}


.header p {
  
margin-top: 1rem;
}





/*Grid*/



.container {
    max-width: var(--size-29);
  display: flex;
  flex-direction: row; /* desktop: side by side */
  align-items: center; /* centers smaller side vertically */
  gap: 2rem;
  margin: 0 var(--size-1);
}

.left, .right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.left {
  flex: 1; /* left column width */
}

.right {
  flex: 1; /* right column width */
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* stack vertically */
    align-items: stretch;
  }

  .left{
    margin-bottom: var(--size-6);
  }

  .right {
    gap: 1.5rem; /* spacing between cards */
  }
}

/* Optional styling */


.left p {
  margin-bottom: var(--size-3);
}

.left .button {
  color: var(--hero-cta-color);
  
  background-color: var(--hero-cta-bg);
  width: auto;           /* only as wide as its content */
  max-width: fit-content; /* prevents it from stretching */
  padding: 0.75rem 1.5rem; /* adjust padding */
  align-self: flex-start;  /* aligns left, or center if you prefer */
  border: none;
  border-radius: var(--radius-2);
  cursor: pointer;
  font-weight: 800;
}



