@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;



:root {

--size-1: 0.125rem;   /* 2px */
--size-2: 0.25rem;    /* 4px */
--size-3: 0.5rem;     /* 8px */
--size-4: 0.75rem;    /* 12px */
--size-5: 1rem;       /* 16px */
--size-6: 1.5rem;     /* 24px */
--size-7: 2rem;       /* 32px */
--size-8: 2.5rem;       /* 48px */
--size-9: 3rem;       /* 48px */
--size-10: 3.5rem;   /* 56px */
--size-11: 4rem;       /* 64px */
--size-12: 5rem;     /* 80px */
--size-13: 6rem;      /* 96px */
--size-14: 7rem;    /* 112px */
--size-15: 8rem;      /* 128px */
--size-16: 10rem;   /* 160px */
--size-17: 12rem;     /* 192px */
--size-18: 14rem;   /* 224px */
--size-19: 16rem;     /* 256px */
--size-20: 20rem;   /* 320px */
--size-21: 24rem;     /* 384px */
--size-22: 28rem;   /* 448px */
--size-23: 32rem;     /* 512px */
--size-24: 36rem;   /* 576px */
--size-25: 40rem;     /* 640px */
--size-26: 48rem;     /* 768px */
--size-27: 64rem;     /* 1024px */
--size-28: 68.875rem; /* 1102px */
--size-29: 80rem;     /* 1280px */
--size-30: 105rem;    /* 1680px */


  

  --fs-1: 0.75rem;
  --fs-2:  0.875rem;
  --fs-3: 1rem;/* small */
  --fs-4: 1.25rem;/* normal */
  --fs-5: 1.5rem;/* large */
  --fs-6: 1.75rem;
  --fs-7: 2rem;
 --fs-8: 3rem;

--section-padding-vertical: var(--size-10);
--section-padding-horizontal: var(--size-7);

  --h1-fs: var(--fs-8);
  --h2-fs: var(--fs-7);
  --h3-fs: var(--fs-6);
  --p-fs: var(--fs-3);
  /* --topbar-height: 40px; */
  --topbar-height: 0px;
  --navbar-height: var(--size-15);



 

 --main-color-1: #250a09;
 --main-color-2: #4a1412;
 /*main 1 i 2 se retko koriste*/
 --main-color-3: #701f1b;
 --main-color-4: #952924;
 --main-color-5: #BA332D;
 --main-color-6: #c14742;
 --main-color-7: #ca5a56;
  /*main 8 i 9 se retko koriste*/

   --main-color-8: #d6514d;
 --main-color-9: #ec645f;




 --secondary-color-1: #050C1F;
--secondary-color-2: #0A183D;
/* rarely used */

--secondary-color-3: #0F245C;
--secondary-color-4: #14307A;
--secondary-color-5: #193C99;

--secondary-color-6: #2D53A8;
--secondary-color-7: #416AB8;

/* rarely used */

--secondary-color-8: #5A84CC;
--secondary-color-9: #739DE0;


--neutral-color-1:  #000000;  /* footer */

--neutral-color-2:  #060605;
--neutral-color-3:  #0B0B09;
--neutral-color-4:  #11110F;
--neutral-color-5:  #181714;

--neutral-color-6:  #22211C;
--neutral-color-7:  #2B2A24;
--neutral-color-8:  #34332C; /* main base */

--neutral-color-9:  #4A4840;
--neutral-color-10: #615E54;

--neutral-color-11: #858178;
--neutral-color-12: #A9A59D;

--neutral-color-13: #C1BEB7;
--neutral-color-14: #D6D3CD;
--neutral-color-15: #E4E1DC;

--neutral-color-16: #F5F3EF;



/*Hero gradient colors*/

--neutral-color-1-grad: rgba(0, 0, 0, 0.78);  /* #000000c7 */
--neutral-color-2-grad: rgba(6, 6, 5, 0.62);  /* #0606059d */
--neutral-color-3-grad: rgba(11, 11, 9, 0.44); /* #0b0b0971 */
--neutral-color-4-grad: rgba(17, 17, 15, 0.32); /* #11110f52 */
--neutral-color-5-grad: rgba(24, 23, 20, 0.45); /* #18171473 */

   /* --main-color-1: #ff4537;
  --main-color-2: #F50000;
   --main-color-3: #ba332d;
 --main-color-4: #8d2523;
 --main-color-5: #602322;
 --main-color-6: #452727; */
 

 /* #F50000 je srbija color sa logo-a, mozda to uzmem ko main */
 /*sekundari #CFCCD6 */
 /*background espresso #4a271e */


/*  
  #060607
#1d1e21
#261415
#372625

#ff8e6d
#f1a39d
#ffcbb5 */

--bg-footer: var(--neutral-color-1);
--bg-important: var(--neutral-color-2);
--bg-important-2: var(--neutral-color-3);
--bg-classic: var(--neutral-color-4);
--bg-classic-2: var(--neutral-color-5);

--text-highlighted-color: var(--neutral-color-16);
--text-highlighted-color-2: var(--neutral-color-15);
--text-classic-color: var(--neutral-color-14);
--text-classic-color-2: var(--neutral-color-13);
--text-classic-color-3: var(--neutral-color-12);
--text-dimmed-color:var(--neutral-color-11);
--text-dimmed-color-2:var(--neutral-color-10);


--headtrack-bg: var(--bg-important);
--headtrack-color: var(--text-classic-color);
--logo-heading-color: var(--main-color-5);
--logo-heading-color-hover: var(--main-color-6);
--menu-icon-color: var(--neutral-color-14);

--footer-title-color: var(--main-color-5);


--hero-cta-bg: var(--main-color-3);
--hero-cta-bg-hover: var(--main-color-2);
--hero-cta-color: var(--text-highlighted-color-2);
--hero-cta-color-hover: var(--text-highlighted-color);

--section-proof-bg: var(--neutral-3);
--card-bg: var(--neutral-color-4);
--card-border-color: var(--neutral-color-5);

--card-highlight-bg: var(--secondary-color-2);
--card-highlight-border-color: var(--neutral-color-5);

--section-important-bg: var(--neutral-color-3);

--first-section-gloves-icon-color: var(--neutral-color-10);

--faq-section-card-bg: var(--neutral-color-7);
--faq-section-card-bg-hover: var(--neutral-color-8);
--faq-section-question-active-color: var(--secondary-color-9);

/* kontakt page */
--kontakt-item-bg: var(--neutral-color-8);
--kontakt-item-bg-hover: var(--neutral-color-9);

--kontakt-cta-box-bg: var(--secondary-color-3);
--kontakt-cta-bg: var(--neutral-color-4);
--kontakt-cta-bg-hover: var(--neutral-color-3);
--kontakt-cta-color: var(--text-highlighted-color-2);

--footer-border-top-color: var(--neutral-color-8);
--footer-text-classic-color: var(--text-classic-color-2);
--footer-bg: var(--bg-footer);
 


}
  @media (max-width: 1024px) {
    :root {
      --fs-8: 2.5rem;
    }
  }


  @media (max-width: 480px) {
  :root {
    --fs-1: 0.5rem;
    --fs-2: 0.75rem;
    --fs-3: 0.875rem; /* small */
    --fs-4: 1rem; /* normal */
    --fs-5: 1.25rem; /* large */
    --fs-6: 1.5rem;
    --fs-7: 1.75rem;
     --fs-8: 2rem;

     --navbar-height: var(--size-14)
  }
}

  @media (max-width: 480px) {
  :root {
 
  
  }


}






html, body{
  height: 100%;
  width: 100%;
}


html{
  font-size: 16px;
  scroll-behavior: smooth;
}






body{
  color:var(--text-classic-color-2);
   background-color: var(--bg-classic);
 
 
   height: max-content;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;



  min-height: 100%;
  width: 100%;
 


  overflow-x: clip;


  overflow-anchor: none;
  
}


main{

   position: relative;
  height: max-content;
   width: 100% ;
   min-height: calc(100vh - var(--topbar-height) - var(--navbar-height));

    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



  
 
  overflow-x: clip;

  
  overflow-anchor: none;

}





h1{
  color: var(--text-highlighted-color);

  margin-top: 0;
  padding-top: 0;

  font-size: var(--h1-fs);
   font-weight: 800; 
    line-height: var(--size-8);
}



h2{
  
  color: var(--text-highlighted-color-2);

  margin-top: 0;
  padding-top: 0;

  font-size: var(--h2-fs);
    font-weight: 700;
    line-height: var(--size-7);
}



h3{
  color: var(--text-highlighted-color-2);

  margin-top: 0;
  padding-top: 0;

  font-size: var(--h3-fs);
  font-weight: 600;
}

p{
  color: var(--text-classic-color);

 
  padding: 0 var(--size-1);
  line-height: 1.4; 
  font-size: var(--p-fs);
}

section{
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
  padding: var(--section-padding-vertical) var(--section-padding-horizontal);
}

button{
  min-width: 0;
  border-radius: 2px;
}