



.imgMain1{
    max-width: 576px;
    width: 100%;
    height: auto;
}


.containerWrapper {
  max-width: 1400px; /* typical Tailwind container */
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;  /* px-10 */
  padding-right: 2.5rem;
}

.container {
  display: flex;
  flex-direction: column; /* flex-col */
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  width: 100%;            /* w-100 */
}

/* md:flex-row */
@media (min-width: 1088px) {
  .container {
    flex-direction: row;
  }
}