/* ================= CSS MODULE ================= */

/* Save this as AtmosphereSlider.module.css */

.section {
  width: 100%;
  max-width: none;
  background-color: var(--neutral-color-2);
}



.titleWrapper{
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
   margin-bottom: var(--size-9);
}

.title {
  text-align: center;
}

.subTitle{
  color: var(--text-classic-color-3);
  display: none;
}

@media (max-width: 768px) {

  .titleWrapper{
     margin-bottom: var(--size-7);
  }

  .title {
  text-align: left !important;
}

.subTitle{
  display: block;
}
}

.mySwiper{
     user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Slider.module.css */
.noSwiperSlide {
  touch-action:auto !important;
}

.card {
  overflow: hidden;
  border-radius: var(--radius-3);
  position: relative;
  

}

.image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s ease;
}



/* Optional gritty overlay for boxing feel */
.card::after {
  content: "";
  position: absolute;
  inset: 0;

  pointer-events: none;
}

.swiperWrapper {
  position: relative; /* <-- makes absolute arrows position relative to Swiper */
}

.prev,
.next {
  position: absolute;
  top: 50%;
  

  /* background: var(--neutral-color-2); */

  width: var(--size-7);
  height: var(--size-7);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;


    z-index: 10;
  cursor: pointer;
    user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.prev svg ,
.next svg {

  stroke: var(--main-color-9); /* boxing red */
  stroke-width: 2;

  height: var(--size-6);
  width: var(--size-6);
  background-color: var(--neutral-color-3);
  border-radius: var(--radius-1);
    

}



.prev {
  left: 4px;
}

.next {
  right: 4px;
}

.swiper-pagination-bullet {
  background: #bbb;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #fff;
}
