.breadcrumb {
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-4);
  font-size: var(--fs-5);
  letter-spacing: 1px;
  margin-bottom: var(--size-11);
}

.link {
  color: var(--neutral-color-11);
  text-decoration: none;
  position: relative;
  transition: all 0.2s ease;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--main-color-5);
  transition: width 0.25s ease;
}

.link:hover {
  color: var(--neutral-color-14);
}

.link:hover::after {
  width: 100%;
}

.chevron {
  color: var(--main-color-3);
  font-weight: bold;
}

.current {
  color: var(--main-color-5);
  font-weight: 700;
}