
 


.logoDiv {
  display: flex;
  align-items: center;
  gap: 32px; /* default for desktop */
}

@media (max-width: 1200px) {
  .logoDiv {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .logoDiv {
    gap: 16px;
  }
}

@media (max-width: 480px) {
  .logoDiv {
    gap: 12px;
  }
}


  .heading {
  font-weight: 900;          /* font-black */
  text-transform: uppercase; /* uppercase */
  color: var(--logo-heading-color);            /* text-red-600 */
  font-size: var(--fs-3);        /* text-xl */
  transition: color 0.2s;    /* optional smooth hover effect */
}

.heading:hover {
  color: #141010;            /* hover:text-red-400 */
}

@media (max-width: 480px) {
  .heading {
    display: none;
  }
}


  .logoLink{
    
    display: flex;
    justify-content: center;
    align-items: center;   
    padding: var(--size-3);
    
    transition: transform 0.08s ease-in;
    transform: scale(1);
  }

    .logoImg {
  
    height: var(--size-13);
    width: auto;

    
  }


  @media (max-width: 480px) {
  .logoImg {
    height: var(--size-12); /* smaller than default 96px */
  }
}

  
@media(pointer: fine){
  .logoLink:hover {
    transform: scale(1.1);
  }
}


 @media(max-width: 980px){
 
    .logoLink{
      padding:  var(--size-3) var(--size-2);
    }
   
   }