.faqSection {
  max-width: 768px;
  margin: 0 auto;
  color: var(--text-highlighted-color);
  font-family: 'Inter', sans-serif;
}

.title {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: var(--text-classic-color-3);
  line-height: 1.5;
  margin-bottom: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--size-5);
}

.item {
  border-radius: 12px;
  background: var(--faq-section-card-bg);
  padding: var(--size-5);
  transition: background-color 0.2s ease;
}

.item:hover {
  background: var(--faq-section-card-bg-hover);
}

.question {
  
  color: inherit;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-3);

  text-align: start;
  font-size: var(--fs-4);
  font-weight: 500;
 
  cursor: pointer;
  
  transition: color 0.2s;
}

.question.active {
  color: var(--faq-section-question-active-color); /* soft accent color */
}

@media (max-width: 480px) {

  .question {
   gap: var(--size-2);
  }
  
}

.icon {
  font-size: 1.5rem;
  transition: transform 0.3s ease;
  text-align: end;
}

.question.active .icon {
}

.answerWrapper {
  overflow: hidden;
  max-height: 0;

  font-size: var(--fs-3);
  padding: 0 var(--size-2);
  opacity: 0;
  transition: all 0.35s ease;
}

.open {
  max-height: 500px; /* enough for largest answer */
  opacity: 1;
  margin-top: 0.75rem;
}

.answer {
  color: rgba(255, 255, 255, 0.85);
  line-height: 1.6;
}

.answer p {
  margin-top: 0.5rem;
}

.answer ul {
  margin-left: 1.25rem;
  margin-top: 0.5rem;
}

.answer li {
  list-style: disc;
  margin-bottom: 0.25rem;
}

.day {
  font-weight: 600;
  margin-top: 0.75rem;
}