
.navWrapper {
 width: 100%;
   z-index: 1000;
}

.navWrapper::before {
  display: none;
  content: "";
  position: fixed; /* covers whole screen */
  inset: 0;
  backdrop-filter: blur(0.8px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: -1; /* sits behind nav content */
}

/* when menu is open */
.navWrapper.open::before {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: auto;
}

@media (max-width: 768px) {

  .navWrapper::before {
  display: block;
  }
  
}



.topBar{
  height: var(--topbar-height);
  width: 100%;
  color: var(--headtrack-color);
  background-color: var(--headtrack-bg);
 /* background-color: rgb(34, 33, 32); */
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--fs-2);
  font-weight: 700;
}


.navBar {
  height: var(--navbar-height);
  background-color: rgba(0, 0, 0, 0.5);
 padding: var(--size-5) var(--size-8);
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}




.menuOpenButton {
  width: 24px;
  height: 20px;
  position: relative;
  display: none;
}

/* md:hidden → hide on ≥768px */
@media (max-width: 768px) {


 .menuOpenButton{
  display:block;
 }

  .navBar{
     padding: var(--size-5) var(--size-7);
  }
}

@media (max-width: 480px) {

    .navBar{
     padding: var(--size-5) var(--size-5);
  }
  
}






