
.navWrapper {
 width: 100%;
   z-index: 1000;
}



.topBar{
  height: var(--topbar-height);
  width: 100%;
  color: var(--headTrack-color);
  background-color: rgb(0, 0, 0); 
 /* background-color: rgb(34, 33, 32); */
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--fs-2);
  font-weight: 700;
}


.navBar {
  height: var(--navbar-height);
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 2.5rem;  /* mx-10 */
  padding-right: 2.5rem;
  padding-top: 1rem;  /* py-6 */
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
}


.heading {
  font-weight: 900;          /* font-black */
  text-transform: uppercase; /* uppercase */
  color: #dc2626;            /* text-red-600 */
  font-size: var(--fs-3);        /* text-xl */
  transition: color 0.2s;    /* optional smooth hover effect */
}

.heading:hover {
  color: #f87171;            /* hover:text-red-400 */
}

.menuOpenButton {
  width: 24px;
  height: 20px;
  position: relative;
  z-index: 9999;
}

/* md:hidden → hide on ≥768px */
@media (min-width: 768px) {
 .menuOpenButton{
  display: none;
 }
}





 


.logoDiv{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    z-index: 9999;
}



  .logoLink{
    
    display: flex;
    justify-content: center;
    align-items: center;   
    padding: var(--size-3);
    
    transition: transform 0.08s ease-in;
    transform: scale(1);
  }

    .logoImg {
  
    height: 96px;
    width: auto;


  
    
  }


  
@media(pointer: fine){
  .logoLink:hover {
    transform: scale(1.1);
  }
}


 @media(max-width: 980px){
 
    .logoLink{
      padding:  var(--size-3) var(--size-2);
    }
   
   }